 <section class="d-flex flex-column justify-conten-center align-items-center mt-5">
   <div class="bg-list">
      <h1 class="mt-5">SHOPPING LIST</h1>
      <br>
      <!-- Add element to list -->
      <ul class="w-75 px-3">
         <li class="d-flex justify-content-start align-items-center">
            <input type="text" class="form-control" placeholder="Introduce un elemento" name="element" [(ngModel)]="element" >
            <button type="button" class="btn btn-sm btn-outline-success ms-2" (click)="setAddToList(element!)" >
               <i class="material-icons">add</i>
            </button>
         </li>
      </ul>

      @if(addToList.length>0){
         <hr class="border border-2 opacity-100 w-100">
      }
      <!-- List add -->
      <ul class="w-75 px-3 sliding-list">
         @for (item of addToList; track item; let i = $index){  
            <li class="d-flex justify-content-start align-items-center my-2 slide-in">
               <input type="text" class="form-control" readonly [value]="item">
               <button type="button" class="btn btn-sm btn-outline-success mx-2" (click)="setAddToAttach(item)">
                  <i class="material-icons">check</i>
               </button>
               <button type="button" class="btn btn-sm btn-outline-danger">
                  <i class="material-icons" (click)="deleteToList(item)">delete</i>
               </button>
            </li>
         }
      </ul>
      @if(attachToList.length>0){
         <hr class="border border-1 opacity-100 w-75 ">
      }

      <!-- List attach -->
      <ul class="w-75 px-3 sliding-list">
         @for (item of attachToList; track item){  
            <li class="d-flex justify-content-start align-items-center my-2 down-in">
               <input type="text" class="form-control " disabled [value]="item" style="text-decoration: line-through">
               <button type="button" class="btn btn-sm btn-outline-success mx-2" (click)="deleteToAttachAndReturn(item)">
                  <i class="material-icons"><span class="material-icons">undo</span></i>
               </button>
               <button type="button" class="btn btn-sm btn-outline-danger">
                  <i class="material-icons" (click)="deleteToAttach(item)">delete</i>
               </button>
            </li>
         }
      </ul>

      <div>
         @if(attachToList.length>0 || addToList.length>0){
            <button type="button" class="btn btn-sm btn-danger my-5" (click)="deleteAllList()">Clean all</button>
         }
      </div>
   
   </div> 
 </section>

