.sliding-list {
   list-style-type: none;
   padding: 0;
 }
 
 .slide-in {
   opacity: 0;
   transform: translateX(-70%);
   animation: slideIn 0.5s ease-out forwards;
 }
 
 @keyframes slideIn {
   to {
     opacity: 1;
     transform: translateX(0);
   }
 }

 
 .down-in {
   opacity: 0;
   transform: translateY(-100%);
   animation: downIn 0.5s ease-out forwards;
 }

 @keyframes downIn {
   to {
     opacity: 1;
     transform: translateY(0);
   }
 }
